@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 0em 2px 2px black;
    background-color: rgba(101, 199, 156, 0.739);
}

.inpt-login {
    height: 40px;
    /*width:140px;*/
    font-size: 15px;
    border-radius: 15px;
    border-style: none;
}

.btn-todos {
    height: 40px;
    width: 140px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: rgb(0, 112, 64) inset, 0 0 0 0 #03ce29;
    border-color: #008c33;
    color: white;
    background-color: rgb(0, 112, 64);
    background-image: linear-gradient(45deg, rgb(99, 243, 171) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: 270ms ease-in-out;
}

.btn-todos:hover {
    color: black;
    background-position: 0;
}

.btn-editar-sim {
    height: 40px;
    width: 140px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: rgb(207, 14, 14)inset, 0 0 0 0 #03ce29;
    border-color: a00000;
    color: white;
    background-color: rgb(255, 0, 8);
}

.btn-excluir {
    height: 40px;
    width: 100px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: rgb(112, 0, 0) inset, 0 0 0 0 #ce0303;
    border-color: #8c0000;
    color: white;
    background-color: red;
}

.btn-editar-nao {
    height: 40px;
    width: 140px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0.1em 1px 1px;
    color: white;
    border-color: rgb(0, 173, 98);
    box-shadow: 0 0 40px 40px rgb(0, 112, 64) inset, 0 0 0 0 #03ce29;
}

.inpt-objeto {
    height: 40px;
    /*width:195px;*/
    font-size: 15px;
    border-radius: 15px;
    border-style: none;
}

.inpt-planta {
    height: 40px;
    /*width:195px;*/
    font-size: 15px;
    border-radius: 15px;
    border-style: none;
}

.inpt-documento {
    height: 40px;
    /*width:195px;*/
    font-size: 15px;
    border-radius: 15px;
    border-style: none;
}

textarea#area {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-style: none;
}

.inpt-data {
    font-family: Arial, Helvetica, sans-serif;
    /*width:55%;*/
    font-size: 15px;
    border-radius: 15px;
    border-style: none;
}

.inpt-arquivo {
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 0.1em 0px 1px black;
}

.inpt-search {
    height: 40px;
    width: 25%;
    font-size: 15px;
    border-radius: 15px;
    border-style: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
    border-color: #007338;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
   transition: color 100ms ease-in-out;
}

a:after {
    border-radius: 10px;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #008552;
    z-index: -1;
    transition: width 200ms ease-in-out;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a:hover:after {
    width: 110%;
    height: 115%;
}

.cadastro {
    text-align: center;
    padding: 2%;
    max-width: fit-content;
    margin: auto;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;
}

div#cad {
    padding: 50px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.documento1 {
    max-width: fit-content;
    margin: auto;
    padding: 25px;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;

}

div#doc1 {
    padding: 50px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.objeto1 {
    max-width: fit-content;
    margin: auto;
    padding: 25px;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;
}

div#obj1 {
    padding: 50px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.planta1 {
    max-width: fit-content;
    margin: auto;
    padding: 25px;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;
}

div#plnt1 {
    padding: 50px;
    padding-top: 0%;
    padding-bottom: 0%;
}

div#listadocumento1 {
    text-align: center;
}

div#listaplanta1 {
    text-align: center;
}

div#listaobjeto1 {
    text-align: center;
}

.todos {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 15%;
    justify-items: center;

}

div#painel1 {
    padding: 2%;
    margin: 50px;
    text-align: center;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;
}

div#painel2 {
    padding: 2%;
    margin: 50px;
    text-align: center;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;
}

div#painel3 {
    padding: 2%;
    margin: 50px;
    text-align: center;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;
}

.end {
    display: flex;
    padding-top: 1%;
    align-content: center;
    justify-content: space-around;
}

div#busca {
    text-align: center;
}

div#painel-pn {
    text-align: center;
}

div#editar-documento {
    text-align: center;
    color: black;
    text-shadow: 0em 2px 2px white;
}

div#editar-objeto {
    text-align: center;
    color: black;
    text-shadow: 0em 2px 2px white;
}

div#editar-planta {
    text-align: center;
    color: black;
    text-shadow: 0em 2px 2px white;
}

p {
    color: red;
    font-size: 35px;
    text-shadow: 0em 2px 2px white;
}

.icone {
    display: flex;

}

div#cavg {
    flex-direction: row;
}

div#ifsul {
    flex-direction: row-reverse;
}

div#imprimir-pdf {
    text-align: center;
}

.tabela-documento {
    display: flex;
    justify-content: center;
}

.tabela-objeto {
    display: flex;
    justify-content: center;
}

.tabela-planta {
    display: flex;
    justify-content: center;
    text-align: center;
}

div#links {
    text-align: center;
}