@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 0em 2px 2px black;
    background-color: rgba(101, 199, 156, 0.739);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 35px;
}

h3{
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(128, 255, 200);
    border: solid 1px rgb(178, 245, 178);
    background-color: rgb(0, 112, 64);
    border-radius: 7px;
    padding: 2px;
    
}

div#cadastro {
    text-align: center;
    padding: 2%;
    max-width: fit-content;
    margin: auto;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;
}

.documento1 {
    max-width: fit-content;
    margin: auto;
    padding: 25px;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;

}

.objeto1 {
    max-width: fit-content;
    margin: auto;
    padding: 25px;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;

}

.planta1 {
    max-width: fit-content;
    margin: auto;
    padding: 25px;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;

}

div#listadocumento1 {
    text-align: center;
}

div#listaplanta1 {
    text-align: center;
}

div#listaobjeto1 {
    text-align: center;
}


textarea#area {
    font-family: Arial, Helvetica, sans-serif;
}

.todos {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 15%;
    justify-items: center;

}

div#painel1 {
    padding: 2%;
    margin: 50px;
    text-align: center;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;

}

div#painel2 {
    padding: 2%;
    margin: 50px;
    text-align: center;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;

}

div#painel3 {
    padding: 2%;
    margin: 50px;
    text-align: center;
    border: solid 1px white;
    background-color: rgba(43, 165, 104, 0.684);
    box-shadow: 0.1em 2px 2px rgb(0, 115, 76);
    border-radius: 7px;

}

.end {
    display: flex;
    padding-top: 1%;
    align-content: center;
    justify-content: space-around;
}

div#busca {
    text-align: center;
}

div#painel-pn {
    text-align: center;
}

div#btn-editar-documento {
    text-align: center;
}

div#btn-editar-objeto {
    text-align: center;
}

div#btn-editar-planta {
    text-align: center;
}

.icone {
    display: flex;

}

div#cavg {
    flex-direction: row;
}

div#ifsul {
    flex-direction: row-reverse;
}

div#imprimir-pdf {
    text-align: center;
}

.tabela-documento {
    display: flex;
    justify-content: center;
}

.tabela-objeto {
    display: flex;
    justify-content: center;
}

.tabela-planta {
    display: flex;
    justify-content: center;
    text-align: center;
}
